---
//src/components/Card.astro
const {name, position1, position2, aboutMe1, aboutMe2, net, profileImage } = Astro.props;

import '../styles/card.css';
---

<div class="container">
    <div class="card-container">
        <div class="descripcion">
            <h1>{name}</h1>
            <h2>{position1}</h2>
            <h2>{position2}</h2>
            <p>{aboutMe1}</p>
            <p>{aboutMe2}</p>
            <div class="icons">
                <a href={net} class="hover-text" target="_blank">
                    <span class="tooltip-text" id="fade">
                        访问 neweastbio.net 查看产品信息
                    </span>
                    <i class="bi bi-globe"></i>
                </a>
                    <i class="bi bi-file-earmark-arrow-down"></i>
                </a>
            </div>
        </div>
        <div class="image">
            <img src={profileImage} alt="">
        </div>
    </div>
</div>
